In [1]:
import pandas as pd

In [2]:
attr_yes=pd.read_excel("data_Attrition.xlsx",sheet_name=0)
d1=attr_yes.dropna()
d1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
1,28,1,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
2,47,1,0n-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
3,44,1,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
4,26,1,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [3]:
attr_No=pd.read_excel("data_Attrition.xlsx",sheet_name=1)
d0=attr_No.dropna()
d0.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
2,38,0,0n-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
3,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
4,46,0,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7

# Non Parametric Test

## Mann whitney Test
-> To compare 2 independent samples

### 1.
* H0 – There is no significant difference in the MonthlyIncome of the employee between dataset d1(Attrition_yes) and d0(Attrition_no)

* H1 - There is significant difference in the MonthlyIncome of the employee between dataset d1(Attrition_yes) and d0(Attrition_no)

In [4]:
from scipy.stats import mannwhitneyu #importing package 
stats , p = mannwhitneyu(d0.MonthlyIncome,d1.MonthlyIncome)
print(stats,p)

1249573.5 0.06508807631576838

p is 0.06508 which is >= 0.05 therfore H1 is rejected

### 2.
* H0 – There is no significant difference in the DistanceFromHome of the employee between dataset d1(Attrition_yes) and d0(Attrition_no)

* H1 - There is significant difference in the DistanceFromHome of the employee between dataset d1(Attrition_yes) and d0(Attrition_no)

In [5]:
from scipy.stats import mannwhitneyu
stats , p = mannwhitneyu(d0.DistanceFromHome,d1.DistanceFromHome)
print(stats,p)

1295261.0 0.488538986087403

p is 0.48853 which is >= 0.05 therfore H1 is rejected

## Chi square test
-> To check the dependency of the variables. Variables should be categorical

### 3.
* H0 - There is no dependency between Attrition and MaritalStatus

* H1 - There is dependency between Attrition and MaritalStatus

In [6]:
d=pd.read_csv("general_data.csv")
data=d.dropna()
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [7]:
from scipy.stats import chi2_contingency #importing package 
chitable = pd.crosstab(data.Attrition, data.MaritalStatus)
chitable

MaritalStatus  Divorced  Married  Single
Attrition
No                  872     1756    1049
Yes                  98      251     356

In [8]:
stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

133.85785802925156 8.573051828219379e-30

p is 8.573051828219379e-30 which is < 0.05 therfore H0 is rejected

### 4.
* H0 - There is no dependency between Gender and BusinessTravel

* H1 - There is dependency between Gender and BusinessTravel

In [9]:
from scipy.stats import chi2_contingency #importing package 
chitable = pd.crosstab(data.Gender, data.BusinessTravel)
chitable

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Gender
Female                 153                328           1275
Male                   295                497           1834

In [10]:
stats, p, dof, expected = chi2_contingency(chitable)
print(stats, p)

7.7114689255919355 0.021158057795728463

p is 0.02115 which is < 0.05 therfore H0 is rejected

# Parametric Test

## One Sample Test 
* To compare the sample mean with population mean

In [11]:
data[['EmployeeID','MonthlyIncome']].head()

   EmployeeID  MonthlyIncome
0           1         131160
1           2          41890
2           3         193280
3           4          83210
4           5          23420


Population mean will always be an assumption, here assume the population mean is 75000

### 5.
* H0 - There is no significant difference between the mean of Employee MonthlyIncome against population mean which is 75000

* H1 - There is significant difference between the mean of Employee MonthlyIncome against population mean which is 75000

In [12]:
from scipy.stats import ttest_1samp #importing packages
stats, p = ttest_1samp(data.MonthlyIncome, 75000)
print(stats,p)

-13.955240399008785 2.4448530478930464e-43


p is 2.4448530478930464e-43 which is < 0.05 therfore H0 is rejected

In [13]:
data[['EmployeeID','PercentSalaryHike']].head()

   EmployeeID  PercentSalaryHike
0           1                 11
1           2                 23
2           3                 15
3           4                 11
4           5                 12

Population mean will always be an assumption, here assume the population mean is 15

### 6.
* H0 - There is no significant difference between the mean of Employee PercentSalaryHike against population mean which is 15

* H1 - There is significant difference between the mean of Employee PercentSalaryHike against population mean which is 15

In [14]:
from scipy.stats import ttest_1samp #importing packages
stats, p = ttest_1samp(data.PercentSalaryHike, 15)
print(stats,p)

3.80651725523799 0.00014286287285277056

p is 0.00014286 which is < 0.05 therfore H0 is rejected

## Two sample paired t test
* To compare the mean of 2 paired samples

In [15]:
data[['EmployeeID','YearsAtCompany','TotalWorkingYears']].head()

   EmployeeID  YearsAtCompany  TotalWorkingYears
0           1               1                1.0
1           2               5                6.0
2           3               5                5.0
3           4               8               13.0
4           5               6                9.0

### 7.
* H0 - There is no significant difference in the mean of Employees TotalWorkingYears and YearsAtCompany

* H1 - There is significant difference in the mean of Employees TotalWorkingYears and YearsAtCompany

In [16]:
from scipy.stats import ttest_rel #importing packages 
stats, p = ttest_rel(data.TotalWorkingYears,data.YearsAtCompany)
print(stats,p)

45.79417178178737 0.0

p is < 0.05 therfore H0 is rejected

## Two Sample independent T-Test
* To compare the mean of 2 independent samples

### 8.
* H0 -There is no significant difference in the mean of MonthlyIncome between Attrition_Yes and Attrition_No

* H1 -There is no significant difference in the mean of MonthlyIncome between Attrition_Yes and Attrition_No

In [17]:
from scipy.stats import ttest_ind #importing pacages
stats, p = ttest_ind(d1.MonthlyIncome,d0.MonthlyIncome)
print(stats,p)

-1.9969640177214658 0.045890862744972095

p is 0.04589 which is < 0.05 therfore H0 is rejected